body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Roboto', sans-serif;
    color: #707070;
    width: 100%;
}
header {
    background-color: white;
    position: -webkit-sticky;
    position: sticky;
    z-index: 10;
    top: 0;
}
/*NAVBAR*/
.navigation-bar {
    padding: 8px;
    overflow: hidden;
    position: relative;
}
header li {
    display: inline;
    padding: 8px;
}
.logo {
    float: left;
    padding-right: 24px;
}
.logo img {
    width: 40px;
    margin-top: 8px;
}
.menu-icon {
    float: right;
    font-size: 30px;
    margin-top: 8px;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
}
#nav-links {
    display: none;
    margin-top: 16px;
}
header a {
    font-size: 15px;
    color: #22B573;
    font-family: 'Lato', sans-serif;
    padding: 8px;
}
a {
    text-decoration: none;
}

header a:link {
    color: #22B573;
}
header a:hover {
    color: #707070;
}
header a:active {
    color: #B53722;
    font-size: 20px;
}
header .current {
    font-weight: bold;
    text-transform: uppercase;
    color: #707070;
}

/* HEROBANNER HOMEPAGE */
.heroImageLaptop {
    display: none;
}
.herobanner {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}
.herobanner img {
    flex: 1;
    width: 100%;
    object-fit: cover;
}
.hero-text {
    flex: 1;
    background: #22B573;
    width: 100%;
    min-height: 300px;
    text-align: center;
}
h1 {
    font-size: 30px;
    padding-top: 40px;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}
.hero-text p {
    padding-bottom: 24px;
    color: rgb(223, 222, 222);
}
.herobutton {
    font-size: 25px;
    padding: 8px;
    border: 1px solid #707070;
    color: white;
    background: #B53722;
    font-family: 'Roboto', sans-serif;
}
.herobutton a:hover {
    color: #22B573;
    background-color: white;
}
.buttonBanner a:hover {
    color: #22B573;
    background-color: white;
}

/* TOUR SECTION HOMEPAGE */
.section-one,
.contact-page {
    width: 340px;
    margin: 0 auto;
}
.oprah-house,
.vigeland,
.castle {
    display: flex;
    flex-direction: column;
    padding: 16px;
    margin-top: 16px;
    text-align: left;
    width: 330px;
    margin: 0 auto;
}
.oprah-text {
    flex: 1;
}
.section-one img {
    width: 320px;
    margin: 0 auto;
    padding-top: 40px;
}
h2 {
    text-align: left;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    margin-bottom: 24px;
}
.section-one p {
    padding-bottom: 16px;
}
.section-one a {
    font-size: 25px;
    padding: 8px;
    border: 1px solid #707070;
    color: white;
    background: #B53722;
    font-family: 'Roboto', sans-serif;
}
.section-one a:hover {
    color: #22B573;
    background-color: white;
}

/* ABOUT US PAGE */
.about-us {
    display: flex;
    flex-direction: column;
}
.about-us-text {
    flex: 1;
}
.logo-about-page {
    width: 100px;
    margin: 0 auto;
}
.logo-about-page img {
    width: 100px;
}
.about-us-text {
    flex: 1;
    margin-top: 16px;
    width: 340px;
    margin: 0 auto;
}
.defenition,
.qualifications {
    width: 340px;
    margin: 0 auto;
}
.qualifications {
    padding-bottom: 18px;
}
h3 {
    font-size: 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}
h6 {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}
.map {
    flex: 1;
}
iframe {
    width: 100%;
}

/* CONTACT US PAGE*/
.contact-info {
    padding-bottom: 24px;
}
.contact-page {
    display: flex;
    flex-direction: column;
}
input[type=text],
select {
    width: 100%;
    padding: 5px 9px;
    margin: 10px 0;
    display: block;
    border: 1px solid #707070;
    box-sizing: border-box;
}
h4 {
    margin-bottom: 8px;
    font-size: 20px;
}
span {
    color: #22B573;
}
input[type=submit] {
    width: 100%;
    background-color: #B53722;
    color: white;
    padding: 10px;
    margin: 8px;
}
textarea {
    width: 100%;
    border: 1px solid #707070;
}

/* TOURS PAGE*/
.our-tours {
    width: 300px;
    margin: 0 auto;
}
.tour-flex {
    display: flex;
    flex-direction: column;
}
.tour-map iframe {
    flex: 1;
    width: 300px;
    height: 200px;
}
.tour-image img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    padding-top: 16px;
    padding-bottom: 24px;
}
h5 {
    font-size: 20px;
    margin-top: 30px;
}
.book {
    position: sticky;
    z-index: 1000;
    bottom: 0;
    float: right;
    border: 2px solid #707070;
    background: #B53722;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    padding: 15px;
}
.book a {
    color: white;
}
.book a:hover {
    color: #22B573;
    background-color: white;
}

/* FOOTER */
footer {
    background: #0A693E;
    color: white;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    padding: 16px;
    justify-content: space-between;
    width: 340px;
    margin: 0 auto;
}
.left, 
.middle, 
.right {
    flex: 1;
    width: 250px;
    margin: 0 auto;
}
.myname {
    text-align: center;
}
footer li {
    font-size: 17px;
    list-style: none;
    padding-bottom: 8px;
}

/* IPAD */
@media only screen and (min-width:768px) {
    body {
        width: 700px;
        margin: 0 auto;
    }

    /* NAVIGATION BAR */
    .logo img {
        width: 70px;
        padding-bottom: 8px;
    }
    header a {
        font-size: 20px;
        padding: 8px;
    }
    .navigation-bar {
        margin-top: 8px;
    }
    #nav-links {
        display: block;
        float: right;
    }
    .menu-icon {
        display: none;
    }

    /* HERO BANNER HOMEPAGE */
    .herobanner {
        display: flex;
        flex-direction: row;
        height: 100%;
    }
    .herobanner img {
        width: 200px;
        height: 300px;
    }
    h1 {
        font-size: 30px;
    }
    p.bannertext {
        font-size: 10px;
    }
    button {
        margin-top: 3px;
    }
    .buttonBanner a:hover {
        color: #22B573;
        background-color: white;
    }

    /*TOUR SECTION HOMEPAGE*/
    .section-one {
        width: 700px;
        margin: 0 auto;
    }
    .oprah-house,
    .vigeland,
    .castle {
        flex-direction: row;
        width: 690px;
        margin: 0 auto;
    }
    .section-one img {
        padding-right: 16px;
        height: 250px;
    }
    .section-one p,
    .defenition p,
    .qualifications p,
    .about-us-text p {
        font-size: 18px;
        margin: 0;
    }
    .section-one h2 {
        padding-top: 16px;
    }

    /* ABOUT US PAGE*/
    .about-us{
        flex-direction: row;
        margin-top: 24px;
        justify-content: space-between;
    }
    .map iframe {
        height: 200px;
        margin-top: 24px;
    }
    h3 {
        font-size: 35px;
    }
    .about-us-text {
        padding-right: 24px;
    }
    .defenition,
    .qualifications {
        width: 700px;
    }
    .logo-about-page img {
        width: 150px;
        margin-top: 15%;
    }
    h4 {
        margin: 10px;
        font-size: 33px;
    }
    h6 {
        font-size: 30px;
        margin-bottom: 16px;
    }

    /* CONTACT PAGE*/
    .contact-page {
        flex-direction: row;
        width: 600px;
        margin: 0 auto;
    }
    .contact-info {
        width: 200px;
        margin: 0 auto;
    }
    .form-container {
        margin-top: 120px;
        width: 300px;
    }
    label {
        font-size: 23px;
    }
    h5 {
        font-size: 35px;
        margin-top: 50px;
    }

    /*TOURS*/
    .our-tours {
        width: 700px;
    }
    .tour-flex {
        flex-direction: row;
        justify-content: space-between;
    }
    .tour-map iframe {
        height: 300px;
    }
    .tour-image img {
        padding: 0;
    }
    footer {
        flex-direction: row;
        justify-content: space-between;
        width: 700px;
        margin: 0 auto;
    }
    .highlight {
        font-size: 18px;
    }
    footer li {
        font-size: 12px;
    }
}

/* LAPTOP */

@media only screen and (min-width: 1200px) {
    body {
        width: 1200px;
        margin: 0 auto;
    }
    .section-one {
        width: 1000px;
        margin: 0 auto;
    }
    .logo img {
        width: 100px;
    }
    header a {
        font-size: 25px;
        padding: 16px;
    }
    .navigation-bar {
        margin-top: 16px;
    }
    .vigeland {
        margin-right: 10px;
    }
    h2 {
        font-size: 20px;
    }
    .contact-page {
        width: 900px;
        margin: 0 auto;
    }
    .contact-info {
        width: 400px;
    }
    .form-container {
        width: 400px;
    }
    .about-us-text {
        padding-right: 48px;
    }
    .defenition,
    .qualifications {
        width: 1200px;
    }
    h3 {
        font-size: 45px;
    }
    .contact-info p {
        font-size: 20px;
    }
    h4 {
        font-size: 30px;
    }
    h5 {
        font-size: 20px;
        font-weight: bold;
    }
    h6 {
        font-size: 40px;
    }
    footer {
        width: 1170px;
        margin-top: 60px;
    }
}